<section class="phx-hero">
<h1>user profile</h1>


</section>
<section class="row">
  <article class="column">
    <div><%= @profile.name %></div>
    <div>Symbols being learnt</div>
      <%= Phoenix.LiveView.live_render(@conn, LearnSymbolsWeb.ProfileSymbolsLiveView, session: %{user_id: @profile.id, symbols: @profile.symbols}) %>
    <%= link "Start", to: Routes.learn_path(@conn, :start, %{id: @profile.id})   %>
  </article>
</section>